
#title_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  #title_box {
    text-decoration: none;
    margin-top: 0.5rem;
    margin-right: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    color: #4472C4;
    align-items: center;
  }
  #title_image {
    width: auto;
    height: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #title_divider {
    border:none;
    height: 20px;
    height: 50px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
  }
